.all {
    width: 100%;
    // 上面盒子
    .top_contetn {
        width: 100%;
        height: 300rpx;
        background-color: #ed018c;
        padding: 57rpx 29rpx;
        box-sizing: border-box;
        position: relative;
        // 可用积分
        .content_name {
            width: 100%;
            height: 30rpx;
            font-size: 29rpx;
            color: #f4d7ec;
        }
        // 积分
        .content_score {
            width: 100%;
            height: 70rpx;
            font-size: 66rpx;
            color: #ffffff;
            font-weight: 700;
            margin-top: 40rpx;
        }
        // 下边盒子
        .content_rule {
            width: 152rpx;
            height: 53rpx;
            background-color: #f581c5;
            border-top-left-radius: 50rpx;
            border-bottom-left-radius: 50rpx;
            font-size: 25rpx;
            line-height: 53rpx;
            color: #f3f3f3;
            text-align: center;
            position: absolute;
            right: 0;
            top: 50%;
        }
    }
    // 下面盒子
    .bottom_contetn {
        width: 100%;
        height: 200rpx;
        position: relative;
        top: -30rpx;
        border-top-left-radius: 40rpx;
        border-top-right-radius: 40rpx;
        z-index: 99;
        background-color: #ffffff;
        padding: 64rpx 30rpx;
        box-sizing: border-box;
        // 积分明细
        .detail {
            width: 100%;
            height: 30rpx;
            font-size: 30rpx;
            color: #9a9a9a;
        }
        // 详情介绍
        .introduce {
            width: 100%;
            height: 106rpx;
            border-bottom: 1rpx solid #f3f3f3;
            margin-top: 56rpx;
            p:nth-child(1) {
                width: 260rpx;
                height: 31rpx;
                font-size: 31rpx;
                color: #000000;
            }
            p:nth-child(2) {
                width: 260rpx;
                height: 22rpx;
                font-size: 22rpx;
                color: #aaaaaa;
                margin-top: 17rpx;
            }
            p:nth-child(3) {
                font-size: 31rpx;
                color: #f8b754;
                float: right;
                margin-top: -55rpx;
            }
        }
    }
}